'on':
  push:
    branches:
    - main
    - dev

jobs:
  darkube_build_frontend_longbio:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_NAME: ghcr.io/longbio/frontend
    steps:
    - name: Checkout commit
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set API URL for dev
      if: github.ref == 'refs/heads/dev'
      run: echo "NEXT_PUBLIC_API_BASE_URL=https://stageapi.longbio.me" >> $GITHUB_ENV
    - name: Set API URL for main
      if: github.ref == 'refs/heads/main'
      run: echo "NEXT_PUBLIC_API_BASE_URL=https://api.longbio.me" >> $GITHUB_ENV
    - name: Set short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:${{ env.SHORT_SHA }}
          ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
        build-args: |
          NEXT_PUBLIC_API_BASE_URL=${{ env.NEXT_PUBLIC_API_BASE_URL }}
          NEXT_PUBLIC_GA_ID=G-KRXMKG49JR
        cache-from: type=gha
        cache-to: type=gha,mode=max

  darkube_deploy_frontend_longbio_main:
    if: github.ref == 'refs/heads/main'
    container: hamravesh/darkube-cli:v1.1
    needs: darkube_build_frontend_longbio
    runs-on: ubuntu-latest
    steps:
    - name: darkube-cli deploy
      run: darkube deploy --token ${{secrets.DEPLOY_TOKEN_FRONTEND_LONGBIO_HAMRAVESH_C13}}
        --app-id ${{secrets.APP_ID_FRONTEND_LONGBIO_HAMRAVESH_C13}} --image-tag ${GITHUB_SHA:0:7}
        --job-id ${GITHUB_RUN_ID}

  darkube_deploy_frontend_longbio_dev:
    if: github.ref == 'refs/heads/dev'
    container: hamravesh/darkube-cli:v1.1
    needs: darkube_build_frontend_longbio
    runs-on: ubuntu-latest
    steps:
    - name: darkube-cli deploy
      run: darkube deploy --token ${{secrets.DEPLOY_TOKEN_FRONTEND_LONGBIO_DEV}}
        --app-id ${{secrets.APP_ID_FRONTEND_LONGBIO_DEV}} --image-tag ${GITHUB_SHA:0:7}
        --job-id ${GITHUB_RUN_ID}
