'on':
  push:
    branches:
    - main
    - dev

jobs:
  darkube_build_frontend_longbio:
    container:
      image: hamravesh/darkube-cli:v1.1
      options: --user root
    env:
      IMAGE_NAME: registry.hamdocker.ir/longbio/frontend
    runs-on: ubuntu-latest
    steps:
    - name: checkout commit
      uses: actions/checkout@v4
    - name: Set API URL for dev
      if: github.ref == 'refs/heads/dev'
      run: echo "NEXT_PUBLIC_API_BASE_URL=https://stageapi.longbio.me" >> $GITHUB_ENV
    - name: Set API URL for main
      if: github.ref == 'refs/heads/main'
      run: echo "NEXT_PUBLIC_API_BASE_URL=https://api.longbio.me" >> $GITHUB_ENV
    - name: darkube-cli build & push
      run: 'darkube build --push -t $IMAGE_NAME:${GITHUB_SHA:0:7} -t $IMAGE_NAME:${GITHUB_REF_NAME}
        --docker-auth-config ${{secrets.DOCKER_AUTH_CONFIG}} --workdir . --file ./Dockerfile
        --build-context ./  --build-arg DOCKER_BUILDKIT --build-arg NEXT_PUBLIC_API_BASE_URL=${{ env.NEXT_PUBLIC_API_BASE_URL }} 
        --build-arg NEXT_PUBLIC_GA_ID=G-KRXMKG49JR'

  darkube_deploy_frontend_longbio_main:
    if: github.ref == 'refs/heads/main'
    container: hamravesh/darkube-cli:v1.1
    needs: darkube_build_frontend_longbio
    runs-on: ubuntu-latest
    steps:
    - name: darkube-cli deploy
      run: darkube deploy --token ${{secrets.DEPLOY_TOKEN_FRONTEND_LONGBIO_HAMRAVESH_C13}}
        --app-id ${{secrets.APP_ID_FRONTEND_LONGBIO_HAMRAVESH_C13}} --image-tag ${GITHUB_SHA:0:7}
        --job-id ${GITHUB_RUN_ID}

  darkube_deploy_frontend_longbio_dev:
    if: github.ref == 'refs/heads/dev'
    container: hamravesh/darkube-cli:v1.1
    needs: darkube_build_frontend_longbio
    runs-on: ubuntu-latest
    steps:
    - name: darkube-cli deploy
      run: darkube deploy --token ${{secrets.DEPLOY_TOKEN_FRONTEND_LONGBIO_DEV}}
        --app-id ${{secrets.APP_ID_FRONTEND_LONGBIO_DEV}} --image-tag ${GITHUB_SHA:0:7}
        --job-id ${GITHUB_RUN_ID}
